/* Universais */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.hidden {
    display: none;
}

:root {
    --background: #F2F2F2;
    --border: #E8E8E8;
    --brand: #007F5B;
    --content: #171A17;
    --danger: #E91117;
    --hover: #EFEFEF;
    --input: #A2A2A2;
    --interaction: #EDF6F4;
    --placeholder: #5B5B5B;
    --subtext: #5E5E5E;
    --white: #FFFFFF;
}

/* Estilos de texto */

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.caption {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
}

/* Geral */

html, body {
    height: 100vh;
}

main {
    height: 100%;
    max-width: 1440px;
}

/* Criar Cartaz */

nav {
    display: flex;
    gap: 50px;
    padding: 0 24px;
}

menu {
    display: flex;
    gap: 0;
}

menu > button {
    background-color: transparent;
    border: none;
    width: 140px;
    height: 56px;
    padding: 20px;
}

.menu-button-active {
    border-bottom: 3px solid var(--brand);
}

#criar-cartaz {
    display: flex;
}

aside {
    width: 487px;
    padding: 24px;
    top: 57px;
}

aside > h2 {
    color: var(--brand);
}

aside > p {
    color: var(--subtext);
}

#buttons-trocar-tipo {
    display: flex;
    background-color: var(--background);
    width: 439px;
    height: 48px;
    border-radius: 6px;
    padding: 4px;
    margin: 20px 0;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#buttons-trocar-tipo > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 210.5px;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
}

.button-tipo-active {
    background-color: var(--brand);
    color: var(--white);
}

/* Form */

