/* Universais */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.hidden {
    display: none !important;
}

:root {
    --background: #F2F2F2;
    --border: #E8E8E8;
    --brand: #007F5B;
    --content: #171A17;
    --danger: #E91117;
    --hover: #EFEFEF;
    --input: #A2A2A2;
    --interaction: #EDF6F4;
    --placeholder: #5B5B5B;
    --subtext: #5E5E5E;
    --white: #FFFFFF;
    --red: #C80107;
}

/* Estilos de texto */

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.caption {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
}

/* Geral */

html, body {
    height: 100%;
}

main {
    height: 100%;
    overflow: hidden;
}

/* Menu */

nav {
    display: flex;
    gap: 50px;
    padding: 0 24px;
    width: 100%;
    border-bottom: 1px solid var(--border);
}

menu {
    display: flex;
    gap: 0;
}

menu > button {
    background-color: transparent;
    border: none;
    width: 140px;
    height: 56px;
    padding: 20px;
}

.menu-button-active {
    border-bottom: 3px solid var(--brand);
}

/* Criar Cartaz */

#criar-cartaz {
    display: flex;
    height: 100%;
    min-height: 0;
}

aside {
    min-width: 487px;
    height: 100%;
    flex-shrink: 0;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 24px 24px 8px 24px;
    top: 57px;
    border-right: 1px solid var(--border);
}

#conteudo-form > h2 {
    color: var(--brand);
    margin-bottom: 8px;
}

#conteudo-form > p {
    color: var(--subtext);
}

#buttons-trocar-tipo {
    display: flex;
    background-color: var(--background);
    width: 100%;
    height: 48px;
    border-radius: 6px;
    padding: 4px;
    margin: 20px 0;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#buttons-trocar-tipo > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
}

.button-tipo-active {
    background-color: var(--brand);
    color: var(--white);
}

/* Form */

form > fieldset {
    border: none;
    padding-bottom: 28px;
}

form > fieldset > input, #dados-pet > input {
    height: 40px;
    border: 1px solid var(--input);
    border-radius: 4px;
    padding: 10px 12px;
}

form > fieldset > label, #dados-pet > label {
    margin: 16px 0 8px 0;
}

#form-dados-desaparecido {
    display: grid;
    grid: auto-flow / 307px 116px;
    column-gap: 16px;
}

.titulo-fieldset {
    display: flex;
    gap: 8px;
    grid-column: span 2;
}

#form-nome {
    grid-row: 3;
}

#dados-pet {
    display: grid;
    grid: auto-flow / 211.5px 211.5px;
    column-gap: 16px;
}

#form-raca {
    grid-row: 2;
}

#form-detalhes {
    display: grid;
    grid: auto-flow / 257px 166px;
    column-gap: 16px;
}

#form-desc-desaparecimento {
    grid-column: span 2;
    height: 92px;
    border: 1px solid var(--input);
    border-radius: 4px;
    padding: 8px 12px;
    resize: none;
}

#form-local {
    grid-row: 5;
}

#form-contato {
    display: grid;
    grid: auto-flow / 211.5px 211.5px;
    column-gap: 16px;
}

#form-telefone {
    grid-row: 3;
}

#form-foto {
    padding-bottom: 0;
}

#button-enviar-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 100%;
    height: 64px;
    border-color: var(--brand);
    border-radius: 4px;
    border-width: 1px;
    border-style: dashed;
    padding: 16px 24px;
}

#button-enviar-foto > img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

#preview-foto-input {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 8px;
    box-shadow: 7px 5px 25.2px 0px #00000040;
}

#container-preview-foto {
    position: relative;
    display: inline-block;
    margin-top: 8px;
}

#button-excluir-foto {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    color: var(--danger);
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    box-shadow: 0px 1px 4px 2px #00000040;
}

/* Botões para baixar em PNG ou PDF */

#buttons-baixar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}

#buttons-baixar > button {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 10px;
}

#button-baixar-png {
    background-color: transparent;
    border: 1px solid var(--brand);
    color: var(--brand);
}

#button-baixar-pdf {
    background-color: var(--brand);
    border: none;
    color: var(--white);
}

/* Pré-visualização */

#criar-cartaz {
    height: 100%;
}

#espaco-cartaz-prev {
    background-image: url(src/img/pattern-dots.png);
    background-repeat: repeat;
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 16px;
}

#texto-prev {
    color: var(--brand);
    margin: 16px;
}

#prev-cartaz, #prev-cartaz * {
    transition: none !important;
}

#prev-cartaz {
    background-color: #FAFAFA;
    box-shadow: 1px 1px 5px var(--content);
    text-align: center;
    width: 600px;
    height: 780px;
    min-height: 780px;
    max-height: 780px; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 8px;
    padding: 16px 0;
}

#cartaz-titulo {
    font-size: 64px;
    padding: 0 16px;
    width: 85%;
}

.fundo-vermelho-cartaz {
    color: var(--white);
    background-color: #C80107;
}

#cartaz-imagem {
    width: 85%;
    height: 230px;
    object-fit: contain;
    object-position: center;
}

#cartaz-nome {
    font-size: 40px;
    text-transform: uppercase;
    overflow-wrap: break-word;
    width: 85%;
}

#cartaz-dados-basicos {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

#cartaz-dados-basicos > p {
    display: inline;
    white-space: nowrap;
}

#cartaz-raca, #cartaz-cor {
    font-size: 16px;
    padding: 8px 16px;
    font-weight: 600;
    width: 40%;
    background-color: var(--border);
    border-radius: 8px;
}

#cartaz-idade {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    width: auto;
}

#cartaz-desc {
    width: 80%;
    font-size: 18px;
    overflow-wrap: break-word;
    word-break: break-word;
}

#cartaz-loc-data, #cartaz-local, #cartaz-data {
    display: flex;
    align-items: center;
    gap: 8px;
}

#cartaz-telefone {
    display: flex;
    padding: 8px 0 16px 0;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 85%;
}

#cartaz-telefone > img {
    width: 72px;
}

#cartaz-tel-escolhido {
    font-size: 48px;
    font-weight: 900;
}

#cartaz-frase, #cartaz-valor {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    display: inline;
}

#cartaz-frase {
    font-size: 24px;
}

#cartaz-cifrao, #cartaz-recompensa {
    color: var(--red);
    font-weight: 800;
    display: inline;
}