/* Universais */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.hidden {
    display: none;
}

:root {
    --background: #F2F2F2;
    --border: #E8E8E8;
    --brand: #007F5B;
    --content: #171A17;
    --danger: #E91117;
    --hover: #EFEFEF;
    --input: #A2A2A2;
    --interaction: #EDF6F4;
    --placeholder: #5B5B5B;
    --subtext: #5E5E5E;
    --white: #FFFFFF;
}

/* Estilos de texto */

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.caption {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
}

/* Geral */

html, body {
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
}

/* Menu */

nav {
    display: flex;
    gap: 50px;
    padding: 0 24px;
    width: 100%;
    border-bottom: 1px solid var(--border);
}

menu {
    display: flex;
    gap: 0;
}

menu > button {
    background-color: transparent;
    border: none;
    width: 140px;
    height: 56px;
    padding: 20px;
}

.menu-button-active {
    border-bottom: 3px solid var(--brand);
}

/* Criar Cartaz */

#criar-cartaz {
    display: flex;
    height: calc(100vh - 57px);
}

aside {
    width: 487px;
    padding: 24px;
    top: 57px;
    border-right: 1px solid var(--border);
}

aside > h2 {
    color: var(--brand);
}

aside > p {
    color: var(--subtext);
}

#buttons-trocar-tipo {
    display: flex;
    background-color: var(--background);
    width: 439px;
    height: 48px;
    border-radius: 6px;
    padding: 4px;
    margin: 20px 0;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#buttons-trocar-tipo > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 210.5px;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
}

.button-tipo-active {
    background-color: var(--brand);
    color: var(--white);
}

/* Form */

form > fieldset {
    border: none;
    padding-bottom: 28px;
}

form > fieldset > input {
    height: 40px;
    border: 1px solid var(--input);
    border-radius: 4px;
    padding: 10px 12px;
}

#form-dados-desaparecido {
    display: grid;
    grid: auto-flow / 307px 116px;
    gap: 8px 16px;
}

.titulo-fieldset {
    display: flex;
    gap: 8px;
    grid-column: span 2;
}

#form-nome {
    grid-row: 3;
}

#form-detalhes {
    display: grid;
    grid: auto-flow / 257px 166px;
    gap: 8px 16px;
}

#form-desc-desaparecimento {
    grid-column: span 2;
    height: 92px;
    border: 1px solid var(--input);
    border-radius: 4px;
    padding: 8px 12px;
    resize: none;
}

#form-local {
    grid-row: 5;
}

/* Pré-visualização */

#espaco-cartaz-prev {
    background-image: url(src/img/pattern-dots.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    top: 57px;
    left: 487px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 32px;
}

#texto-prev {
    color: var(--brand);
}

#prev-cartaz {
    width: 100%;
    height: 100%;
}